.newsletter-container {
  display: flex;
  align-items: center;
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.newsletter-image {
  margin-right: 20px;
}

.newsletter-content {
  margin-right: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
}

input[type="email"] {
  padding: 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #222;
}
